<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>vue 选择列表，多选，单选</title>
	<style>
		span {
			display: inline-block;
			margin: 12px 20px 0 0px;
		}

		div {
			margin: 12px 0;
		}

		select {
			padding: 3px 5px
		}
	</style>
</head>
<body>

<div id="app1">
	<input type="checkbox" v-model="checked"/>
	<span for="checkbox"> {{checked}} </span>
</div>

<div id="app2">
	<input type="checkbox" value="A" v-model="checks"/>
	<span>A</span>
	<input type="checkbox" value="B" v-model="checks"/>
	<span>B</span>
	<input type="checkbox" value="C" v-model="checks"/>
	<span>C</span>
	<span style="display:block;margin:5px;color:#f00;" v-for="item in checks">{{item}}</span>
</div>

<script src="https://unpkg.com/vue"></script>

<script type="text/javascript">
    // checkbox
    let vm1 = new Vue({
        el: '#app1',
        data: {
            'checked': true,
        },
    })

    let vm2 = new Vue({
        el: '#app2',
        data: {
            'checks': [],
        },
        watch: {
            'checks': function ()
            {
                console.log(this.checks)
            },
        },
    })
</script>
</body>
</html>